<h2> Your Portfolio </h2>
<% stocks_hash = user.stock_profits_hash %>
<% stocks_hash.keys.sort_by {|stock| -stocks_hash[stock][:profit] }
    .each do |stock| %>
    <%= render partial: 'position', locals: {user: user, stock: stock, 
                                    profit: stocks_hash[stock][:profit],
                                    shares: stocks_hash[stock][:shares]} %>
<% end %>
