<h2>Search Stocks</h2>
<form "search-form form-horizontal">
  <div class="input-group">                                                        
    <input type="text" name="title" class="form-control search-field" placeholder="Search by Ticker Symbol">
    <span class="input-group-btn">                                                 
      <button class="btn btn-default" type="submit">Go!</button>                   
    </span>                                                                        
  </div>
</form>
<div class="search-results">
</div>
